<section class="about container">
    <h1 class = "text-center mb-5" >About us</h1>
    <!-- <img src="https://cdn.discordapp.com/attachments/839531995154481163/843816202751967242/wheelstech.png" class="d-block w-500 h-69 mx-auto " alt="..." style=" padding-top: 20px" > -->

    <p> IESA’s very first edition of India Electric Vehicle Market Overview report covers the present scenario and forecast of EVs and the public charging infrastructure market in the country. The report covers updated revenue and unit sale details by various EV segments and Charging Infrastructure types. There is an in-depth analysis of EV battery value chain by EV segment, detailed state EV policy analysis, and competitive analysis of EVs and EV battery suppliers. The EV market in India has gained significant momentum after the implementation of FAME India scheme. The total EV sales in 2018 hit 365,920 Units and expected to grow at a CAGR of 36% till 2026. The EV battery market in India is estimated to be US$ 520 Million in 2018 and forecasted to grow at a CAGR of 30% till 2026. The total MWh addition in 2018 hit 4.75 GWh and expected to grow till 28.0 GWh by 2026.

        Readmore at : https://www.indiaesa.info/resources/industry-reports/2605-india-electric-vehicle-market-overview-report-2019-2016
        @ IESA
    </p>

    <div class="follow text-center">
        <img src="https://media.discordapp.net/attachments/839531995154481163/844091279808921600/wheels.png?width=943&height=100" width="200"  >
        <br>
        <br>
        <a href = "https://www.instagram.com/wheels.tech/"> Instagram </a>
    </div>

</section>