<!-- 
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active "  *ngFor="let p of post|slice:0:3" data-bs-interval="10000">
        <img src="{{p.img}}" class="d-block w-100" alt="1" height="500" width="1600">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>placeholder content for the first slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
  
  <div id="intro" class="p-5 text-center">
    <h1 class="mb-3 h2">place for ads</h1>
  </div> 
  
    <!--Main layout-->
    <main class="my-5">
      <div class="container">
        <!--Section: Content-->
        <section class="text-center" >
          <h4 class="mb-5" style="color:white"><strong>Latest posts</strong></h4>
  
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4" *ngFor="let p of post|slice:0:3">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="{{p.img}}" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{p.title}}</h5>
                  <p class="card-text">
                    {{p.subtitle}}
                  </p>
                  <a routerLink="blog-view/{{p.id}}" class="btn btn-primary">Read</a>
                </div>
              </div>
            </div>
  
           
          </div>
      
        </section>
        <!--Section: Content-->
  
       
  
         <!-- Jumbotron -->
      <div id="intro" class="p-5 text-center">
          <h1 class="mb-3 h2">place for ads</h1>
        </div>
        <br>
   <!-- Jumbotron -->
   <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">place for ads</h1>
  </div>
  <!-- Jumbotron -->